@import url("https://fonts.googleapis.com/css2?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  margin: 0px;
  min-width: 0px;
  min-height: 0px;
  box-sizing: border-box; }

body {
  font-family: "Lato", "Space Grotesk", "Roboto", "Helvectica", "Arial"; }
